.card {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  background-color: purple;
}

:root {
  --card-background-color: #adb5bd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ff9f4d 10%, #ffc857 0, #ffc857 90%, #ff9f4d 0, #ff9f4d 100%);
  background: url(../images/hills.svg) center/cover no-repeat;
}

.logo {
  width: 245px;
  height: 85px;
}

.one .grid-container {
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: #fff;
}

.one .grid-item {
  box-shadow: 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.05);
}

.container {
  max-width: 100%;
  min-width: 280px;
  margin-block: 2.4rem;
  /* margin-inline: 2.4rem; */
  margin-inline: var(--ode-container-spacing);
}
@media (min-width: 0) {
  .container {
    --ode-container-spacing: 2.4rem;
  }
}
@media (min-width: 768px) {
  .container {
    --ode-container-spacing: 3.6rem;
  }
}
@media (min-width: 1024px) {
  .container {
    --ode-container-spacing: 4.8rem;
  }
}
@media (min-width: 1140px) {
  .container {
    --ode-container-spacing: 6.4rem;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1312px;
  }
}
.grid-container {
  display: grid;
  grid-auto-rows: 20rem;
}

@media (min-width: 0) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
    gap: 2.4rem;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid-item {
  grid-column: span 4;
  border-radius: 15px;
  background-color: #faf7fa;
  background-image: linear-gradient(#fdeae3, #fdeae3), linear-gradient(#ff8d2e, #ff8d2e), linear-gradient(#f1d6c3, #f1d6c3), linear-gradient(90deg, transparent 20px, #f9e5c7 0, #f9e5c7 calc(100% - 20px), transparent 0);
  background-size: 100% 50px, 50px 10px, 60px 10px, auto 50px;
  background-position: 0 0, 20px 80px, 20px 100px, left 0 bottom 20px;
  background-repeat: no-repeat;
}

/* background-image: linear-gradient(#fdeae3, #fdeae3),
  linear-gradient(#ff8d2e, #ff8d2e), linear-gradient(#f1d6c3, #f1d6c3),
  linear-gradient(
    90deg,
    transparent 20px,
    #2a92d7 0,
    #2a92d7 calc(100% - 20px),
    transparent 0
  ); */
.span1 {
  grid-column: span 1;
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

.span4 {
  grid-column: span 4;
}

@media (min-width: 48em) {
  .grid-item {
    grid-column: span 8;
  }

  .span-md-1 {
    grid-column: span 1;
  }

  .span-md-2 {
    grid-column: span 2;
  }

  .span-md-3 {
    grid-column: span 3;
  }

  .span-md-4 {
    grid-column: span 4;
  }

  .span-md-5 {
    grid-column: span 5;
  }

  .span-md-6 {
    grid-column: span 6;
  }

  .span-md-7 {
    grid-column: span 7;
  }

  .span-md-8 {
    grid-column: span 8;
  }
}
@media (min-width: 64em) {
  .grid-item {
    grid-column: span 12;
  }

  .span-lg-1 {
    grid-column: span 1;
  }

  .span-lg-2 {
    grid-column: span 2;
  }

  .span-lg-3 {
    grid-column: span 3;
  }

  .span-lg-4 {
    grid-column: span 4;
  }

  .span-lg-5 {
    grid-column: span 5;
  }

  .span-lg-6 {
    grid-column: span 6;
  }

  .span-lg-7 {
    grid-column: span 7;
  }

  .span-lg-8 {
    grid-column: span 8;
  }

  .span-lg-9 {
    grid-column: span 9;
  }

  .span-lg-10 {
    grid-column: span 10;
  }

  .span-lg-11 {
    grid-column: span 11;
  }

  .span-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1140px) {
  .span-xl-1 {
    grid-column: span 1;
  }

  .span-xl-2 {
    grid-column: span 2;
  }

  .span-xl-3 {
    grid-column: span 3;
  }

  .span-xl-4 {
    grid-column: span 4;
  }

  .span-xl-5 {
    grid-column: span 5;
  }

  .span-xl-6 {
    grid-column: span 6;
  }

  .span-xl-7 {
    grid-column: span 7;
  }

  .span-xl-8 {
    grid-column: span 8;
  }

  .span-xl-9 {
    grid-column: span 9;
  }

  .span-xl-10 {
    grid-column: span 10;
  }

  .span-xl-11 {
    grid-column: span 11;
  }

  .span-xl-12 {
    grid-column: span 12;
  }
}
@supports not (gap: 1px) {
  body {
    padding-top: 2em;
  }

  body::before {
    content: "Your browser doesn't support gap property";
    display: block;
    color: #e43;
    font-weight: bold;
    position: fixed;
    top: 1.5em;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
