@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700;800&display=swap"); /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(-45deg, #ff9f4d 10%, #ffc857 0, #ffc857 90%, #ff9f4d 0, #ff9f4d 100%);
  background: url(../images/hills.svg) center/cover no-repeat;
  background-size: cover;
  background-color: #a6ce3a;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.card {
  --ode-card-border-radius: 1.5rem;
  --ode-card-background-color: black;
  --ode-card-box-shadow: none;
  border-radius: var(--ode-card-border-radius);
  background-color: #faf7fa;
  background-image: linear-gradient(#fdeae3, #fdeae3), linear-gradient(#ff8d2e, #ff8d2e), linear-gradient(#f1d6c3, #f1d6c3), linear-gradient(90deg, transparent 20px, #f9e5c7 0, #f9e5c7 calc(100% - 20px), transparent 0);
  background-size: 100% 50px, 50px 10px, 60px 10px, auto 50px;
  background-position: 0 0, 20px 80px, 20px 100px, left 0 bottom 20px;
  background-repeat: no-repeat;
  box-shadow: var(--ode-card-box-shadow);
}
.one .card {
  --ode-card-box-shadow: 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.05);
}

.logo {
  width: 245px;
  height: 85px;
}

.container {
  --ode-container-width: 100%;
  --ode-container-max-width: 1280px;
  max-width: var(--ode-container-max-width);
  width: var(--ode-container-width);
  margin: 0 auto;
}
@media (min-width: 0) {
  .container {
    --ode-container-width: calc(100% - 0 * 2);
  }
}
@media (min-width: 375px) {
  .container {
    --ode-container-width: calc(100% - 1.6rem * 2);
  }
}
@media (min-width: 768px) {
  .container {
    --ode-container-width: calc(100% - 3.6rem * 2);
  }
}
@media (min-width: 1024px) {
  .container {
    --ode-container-width: calc(100% - 6rem * 2);
  }
}
@media (min-width: 1140px) {
  .container {
    --ode-container-width: calc(100% - 7.2rem * 2);
  }
}
.container:is(.panda) {
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: #fff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.6rem;
  margin-inline: -0.8rem;
}
.flex-container > * {
  flex-basis: 0;
  padding-inline: 0.8rem;
}
.flex-container .col-1 {
  flex-basis: 8.3333333333%;
  min-width: 8.3333333333%;
}
.flex-container .col-offset-1 {
  margin-left: 8.3333333333%;
}
.flex-container .col-2 {
  flex-basis: 16.6666666667%;
  min-width: 16.6666666667%;
}
.flex-container .col-offset-2 {
  margin-left: 16.6666666667%;
}
.flex-container .col-3 {
  flex-basis: 25%;
  min-width: 25%;
}
.flex-container .col-offset-3 {
  margin-left: 25%;
}
.flex-container .col-4 {
  flex-basis: 33.3333333333%;
  min-width: 33.3333333333%;
}
.flex-container .col-offset-4 {
  margin-left: 33.3333333333%;
}
.flex-container .col-5 {
  flex-basis: 41.6666666667%;
  min-width: 41.6666666667%;
}
.flex-container .col-offset-5 {
  margin-left: 41.6666666667%;
}
.flex-container .col-6 {
  flex-basis: 50%;
  min-width: 50%;
}
.flex-container .col-offset-6 {
  margin-left: 50%;
}
.flex-container .col-7 {
  flex-basis: 58.3333333333%;
  min-width: 58.3333333333%;
}
.flex-container .col-offset-7 {
  margin-left: 58.3333333333%;
}
.flex-container .col-8 {
  flex-basis: 66.6666666667%;
  min-width: 66.6666666667%;
}
.flex-container .col-offset-8 {
  margin-left: 66.6666666667%;
}
.flex-container .col-9 {
  flex-basis: 75%;
  min-width: 75%;
}
.flex-container .col-offset-9 {
  margin-left: 75%;
}
.flex-container .col-10 {
  flex-basis: 83.3333333333%;
  min-width: 83.3333333333%;
}
.flex-container .col-offset-10 {
  margin-left: 83.3333333333%;
}
.flex-container .col-11 {
  flex-basis: 91.6666666667%;
  min-width: 91.6666666667%;
}
.flex-container .col-offset-11 {
  margin-left: 91.6666666667%;
}
.flex-container .col-12 {
  flex-basis: 100%;
  min-width: 100%;
}
.flex-container .col-offset-12 {
  margin-left: 100%;
}
@media (min-width: 375px) {
  .flex-container .col-sm-1 {
    flex-basis: 8.3333333333%;
    min-width: 8.3333333333%;
  }
  .flex-container .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .flex-container .col-sm-2 {
    flex-basis: 16.6666666667%;
    min-width: 16.6666666667%;
  }
  .flex-container .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  .flex-container .col-sm-3 {
    flex-basis: 25%;
    min-width: 25%;
  }
  .flex-container .col-sm-offset-3 {
    margin-left: 25%;
  }
  .flex-container .col-sm-4 {
    flex-basis: 33.3333333333%;
    min-width: 33.3333333333%;
  }
  .flex-container .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  .flex-container .col-sm-5 {
    flex-basis: 41.6666666667%;
    min-width: 41.6666666667%;
  }
  .flex-container .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  .flex-container .col-sm-6 {
    flex-basis: 50%;
    min-width: 50%;
  }
  .flex-container .col-sm-offset-6 {
    margin-left: 50%;
  }
  .flex-container .col-sm-7 {
    flex-basis: 58.3333333333%;
    min-width: 58.3333333333%;
  }
  .flex-container .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  .flex-container .col-sm-8 {
    flex-basis: 66.6666666667%;
    min-width: 66.6666666667%;
  }
  .flex-container .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  .flex-container .col-sm-9 {
    flex-basis: 75%;
    min-width: 75%;
  }
  .flex-container .col-sm-offset-9 {
    margin-left: 75%;
  }
  .flex-container .col-sm-10 {
    flex-basis: 83.3333333333%;
    min-width: 83.3333333333%;
  }
  .flex-container .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  .flex-container .col-sm-11 {
    flex-basis: 91.6666666667%;
    min-width: 91.6666666667%;
  }
  .flex-container .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  .flex-container .col-sm-12 {
    flex-basis: 100%;
    min-width: 100%;
  }
  .flex-container .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .flex-container .col-md-1 {
    flex-basis: 8.3333333333%;
    min-width: 8.3333333333%;
  }
  .flex-container .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .flex-container .col-md-2 {
    flex-basis: 16.6666666667%;
    min-width: 16.6666666667%;
  }
  .flex-container .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .flex-container .col-md-3 {
    flex-basis: 25%;
    min-width: 25%;
  }
  .flex-container .col-md-offset-3 {
    margin-left: 25%;
  }
  .flex-container .col-md-4 {
    flex-basis: 33.3333333333%;
    min-width: 33.3333333333%;
  }
  .flex-container .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .flex-container .col-md-5 {
    flex-basis: 41.6666666667%;
    min-width: 41.6666666667%;
  }
  .flex-container .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .flex-container .col-md-6 {
    flex-basis: 50%;
    min-width: 50%;
  }
  .flex-container .col-md-offset-6 {
    margin-left: 50%;
  }
  .flex-container .col-md-7 {
    flex-basis: 58.3333333333%;
    min-width: 58.3333333333%;
  }
  .flex-container .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .flex-container .col-md-8 {
    flex-basis: 66.6666666667%;
    min-width: 66.6666666667%;
  }
  .flex-container .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .flex-container .col-md-9 {
    flex-basis: 75%;
    min-width: 75%;
  }
  .flex-container .col-md-offset-9 {
    margin-left: 75%;
  }
  .flex-container .col-md-10 {
    flex-basis: 83.3333333333%;
    min-width: 83.3333333333%;
  }
  .flex-container .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .flex-container .col-md-11 {
    flex-basis: 91.6666666667%;
    min-width: 91.6666666667%;
  }
  .flex-container .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .flex-container .col-md-12 {
    flex-basis: 100%;
    min-width: 100%;
  }
  .flex-container .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1024px) {
  .flex-container .col-lg-1 {
    flex-basis: 8.3333333333%;
    min-width: 8.3333333333%;
  }
  .flex-container .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  .flex-container .col-lg-2 {
    flex-basis: 16.6666666667%;
    min-width: 16.6666666667%;
  }
  .flex-container .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  .flex-container .col-lg-3 {
    flex-basis: 25%;
    min-width: 25%;
  }
  .flex-container .col-lg-offset-3 {
    margin-left: 25%;
  }
  .flex-container .col-lg-4 {
    flex-basis: 33.3333333333%;
    min-width: 33.3333333333%;
  }
  .flex-container .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  .flex-container .col-lg-5 {
    flex-basis: 41.6666666667%;
    min-width: 41.6666666667%;
  }
  .flex-container .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  .flex-container .col-lg-6 {
    flex-basis: 50%;
    min-width: 50%;
  }
  .flex-container .col-lg-offset-6 {
    margin-left: 50%;
  }
  .flex-container .col-lg-7 {
    flex-basis: 58.3333333333%;
    min-width: 58.3333333333%;
  }
  .flex-container .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  .flex-container .col-lg-8 {
    flex-basis: 66.6666666667%;
    min-width: 66.6666666667%;
  }
  .flex-container .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  .flex-container .col-lg-9 {
    flex-basis: 75%;
    min-width: 75%;
  }
  .flex-container .col-lg-offset-9 {
    margin-left: 75%;
  }
  .flex-container .col-lg-10 {
    flex-basis: 83.3333333333%;
    min-width: 83.3333333333%;
  }
  .flex-container .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  .flex-container .col-lg-11 {
    flex-basis: 91.6666666667%;
    min-width: 91.6666666667%;
  }
  .flex-container .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  .flex-container .col-lg-12 {
    flex-basis: 100%;
    min-width: 100%;
  }
  .flex-container .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1140px) {
  .flex-container .col-xl-1 {
    flex-basis: 8.3333333333%;
    min-width: 8.3333333333%;
  }
  .flex-container .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }
  .flex-container .col-xl-2 {
    flex-basis: 16.6666666667%;
    min-width: 16.6666666667%;
  }
  .flex-container .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }
  .flex-container .col-xl-3 {
    flex-basis: 25%;
    min-width: 25%;
  }
  .flex-container .col-xl-offset-3 {
    margin-left: 25%;
  }
  .flex-container .col-xl-4 {
    flex-basis: 33.3333333333%;
    min-width: 33.3333333333%;
  }
  .flex-container .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }
  .flex-container .col-xl-5 {
    flex-basis: 41.6666666667%;
    min-width: 41.6666666667%;
  }
  .flex-container .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }
  .flex-container .col-xl-6 {
    flex-basis: 50%;
    min-width: 50%;
  }
  .flex-container .col-xl-offset-6 {
    margin-left: 50%;
  }
  .flex-container .col-xl-7 {
    flex-basis: 58.3333333333%;
    min-width: 58.3333333333%;
  }
  .flex-container .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }
  .flex-container .col-xl-8 {
    flex-basis: 66.6666666667%;
    min-width: 66.6666666667%;
  }
  .flex-container .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }
  .flex-container .col-xl-9 {
    flex-basis: 75%;
    min-width: 75%;
  }
  .flex-container .col-xl-offset-9 {
    margin-left: 75%;
  }
  .flex-container .col-xl-10 {
    flex-basis: 83.3333333333%;
    min-width: 83.3333333333%;
  }
  .flex-container .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }
  .flex-container .col-xl-11 {
    flex-basis: 91.6666666667%;
    min-width: 91.6666666667%;
  }
  .flex-container .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }
  .flex-container .col-xl-12 {
    flex-basis: 100%;
    min-width: 100%;
  }
  .flex-container .col-xl-offset-12 {
    margin-left: 100%;
  }
}

.grid-container {
  --ode-grid-cols: 12;
  --ode-grid-gap: 1.6rem;
  grid-auto-rows: 20rem;
  display: grid;
  grid-gap: var(--ode-grid-gap, 0);
  grid-template-columns: repeat(var(--ode-grid-cols), 1fr);
}
.grid-container > * {
  grid-column-end: span var(--ode-grid-cols);
}
@media (min-width: 0) {
  .grid-container {
    --ode-grid-cols: 4;
  }
}
@media (min-width: 768px) {
  .grid-container {
    --ode-grid-cols: 8;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    --ode-grid-cols: 12;
  }
}
.grid-container .col-1 {
  grid-column: span 1;
}
.grid-container .col-start-xs-1 {
  grid-column-start: 1;
}
.grid-container .col-end-xs-2 {
  grid-column-end: 2;
}
.grid-container .col-2 {
  grid-column: span 2;
}
.grid-container .col-start-xs-2 {
  grid-column-start: 2;
}
.grid-container .col-end-xs-3 {
  grid-column-end: 3;
}
.grid-container .col-3 {
  grid-column: span 3;
}
.grid-container .col-start-xs-3 {
  grid-column-start: 3;
}
.grid-container .col-end-xs-4 {
  grid-column-end: 4;
}
.grid-container .col-4 {
  grid-column: span 4;
}
.grid-container .col-start-xs-4 {
  grid-column-start: 4;
}
.grid-container .col-end-xs-5 {
  grid-column-end: 5;
}
.grid-container .col-1 {
  grid-column: span 1;
}
.grid-container .col-start-xs-1 {
  grid-column-start: 1;
}
.grid-container .col-end-xs-2 {
  grid-column-end: 2;
}
.grid-container .col-2 {
  grid-column: span 2;
}
.grid-container .col-start-xs-2 {
  grid-column-start: 2;
}
.grid-container .col-end-xs-3 {
  grid-column-end: 3;
}
.grid-container .col-3 {
  grid-column: span 3;
}
.grid-container .col-start-xs-3 {
  grid-column-start: 3;
}
.grid-container .col-end-xs-4 {
  grid-column-end: 4;
}
.grid-container .col-4 {
  grid-column: span 4;
}
.grid-container .col-start-xs-4 {
  grid-column-start: 4;
}
.grid-container .col-end-xs-5 {
  grid-column-end: 5;
}
.grid-container .col-1 {
  grid-column: span 1;
}
.grid-container .col-start-xs-1 {
  grid-column-start: 1;
}
.grid-container .col-end-xs-2 {
  grid-column-end: 2;
}
.grid-container .col-2 {
  grid-column: span 2;
}
.grid-container .col-start-xs-2 {
  grid-column-start: 2;
}
.grid-container .col-end-xs-3 {
  grid-column-end: 3;
}
.grid-container .col-3 {
  grid-column: span 3;
}
.grid-container .col-start-xs-3 {
  grid-column-start: 3;
}
.grid-container .col-end-xs-4 {
  grid-column-end: 4;
}
.grid-container .col-4 {
  grid-column: span 4;
}
.grid-container .col-start-xs-4 {
  grid-column-start: 4;
}
.grid-container .col-end-xs-5 {
  grid-column-end: 5;
}
.grid-container .col-1 {
  grid-column: span 1;
}
.grid-container .col-start-xs-1 {
  grid-column-start: 1;
}
.grid-container .col-end-xs-2 {
  grid-column-end: 2;
}
.grid-container .col-2 {
  grid-column: span 2;
}
.grid-container .col-start-xs-2 {
  grid-column-start: 2;
}
.grid-container .col-end-xs-3 {
  grid-column-end: 3;
}
.grid-container .col-3 {
  grid-column: span 3;
}
.grid-container .col-start-xs-3 {
  grid-column-start: 3;
}
.grid-container .col-end-xs-4 {
  grid-column-end: 4;
}
.grid-container .col-4 {
  grid-column: span 4;
}
.grid-container .col-start-xs-4 {
  grid-column-start: 4;
}
.grid-container .col-end-xs-5 {
  grid-column-end: 5;
}
.grid-container .col-1 {
  grid-column: span 1;
}
.grid-container .col-start-xs-1 {
  grid-column-start: 1;
}
.grid-container .col-end-xs-2 {
  grid-column-end: 2;
}
.grid-container .col-2 {
  grid-column: span 2;
}
.grid-container .col-start-xs-2 {
  grid-column-start: 2;
}
.grid-container .col-end-xs-3 {
  grid-column-end: 3;
}
.grid-container .col-3 {
  grid-column: span 3;
}
.grid-container .col-start-xs-3 {
  grid-column-start: 3;
}
.grid-container .col-end-xs-4 {
  grid-column-end: 4;
}
.grid-container .col-4 {
  grid-column: span 4;
}
.grid-container .col-start-xs-4 {
  grid-column-start: 4;
}
.grid-container .col-end-xs-5 {
  grid-column-end: 5;
}
@media (min-width: 375px) {
  .grid-container .col-sm-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-sm-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-sm-2 {
    grid-column-end: 2;
  }
  .grid-container .col-sm-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-sm-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-sm-3 {
    grid-column-end: 3;
  }
  .grid-container .col-sm-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-sm-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-sm-4 {
    grid-column-end: 4;
  }
  .grid-container .col-sm-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-sm-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-sm-5 {
    grid-column-end: 5;
  }
}
@media (min-width: 375px) {
  .grid-container .col-sm-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-sm-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-sm-2 {
    grid-column-end: 2;
  }
  .grid-container .col-sm-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-sm-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-sm-3 {
    grid-column-end: 3;
  }
  .grid-container .col-sm-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-sm-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-sm-4 {
    grid-column-end: 4;
  }
  .grid-container .col-sm-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-sm-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-sm-5 {
    grid-column-end: 5;
  }
}
@media (min-width: 375px) {
  .grid-container .col-sm-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-sm-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-sm-2 {
    grid-column-end: 2;
  }
  .grid-container .col-sm-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-sm-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-sm-3 {
    grid-column-end: 3;
  }
  .grid-container .col-sm-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-sm-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-sm-4 {
    grid-column-end: 4;
  }
  .grid-container .col-sm-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-sm-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-sm-5 {
    grid-column-end: 5;
  }
  .grid-container .col-sm-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-sm-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-sm-6 {
    grid-column-end: 6;
  }
  .grid-container .col-sm-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-sm-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-sm-7 {
    grid-column-end: 7;
  }
  .grid-container .col-sm-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-sm-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-sm-8 {
    grid-column-end: 8;
  }
  .grid-container .col-sm-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-sm-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-sm-9 {
    grid-column-end: 9;
  }
}
@media (min-width: 375px) {
  .grid-container .col-sm-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-sm-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-sm-2 {
    grid-column-end: 2;
  }
  .grid-container .col-sm-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-sm-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-sm-3 {
    grid-column-end: 3;
  }
  .grid-container .col-sm-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-sm-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-sm-4 {
    grid-column-end: 4;
  }
  .grid-container .col-sm-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-sm-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-sm-5 {
    grid-column-end: 5;
  }
  .grid-container .col-sm-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-sm-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-sm-6 {
    grid-column-end: 6;
  }
  .grid-container .col-sm-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-sm-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-sm-7 {
    grid-column-end: 7;
  }
  .grid-container .col-sm-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-sm-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-sm-8 {
    grid-column-end: 8;
  }
  .grid-container .col-sm-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-sm-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-sm-9 {
    grid-column-end: 9;
  }
  .grid-container .col-sm-9 {
    grid-column: span 9;
  }
  .grid-container .col-start-sm-9 {
    grid-column-start: 9;
  }
  .grid-container .col-end-sm-10 {
    grid-column-end: 10;
  }
  .grid-container .col-sm-10 {
    grid-column: span 10;
  }
  .grid-container .col-start-sm-10 {
    grid-column-start: 10;
  }
  .grid-container .col-end-sm-11 {
    grid-column-end: 11;
  }
  .grid-container .col-sm-11 {
    grid-column: span 11;
  }
  .grid-container .col-start-sm-11 {
    grid-column-start: 11;
  }
  .grid-container .col-end-sm-12 {
    grid-column-end: 12;
  }
  .grid-container .col-sm-12 {
    grid-column: span 12;
  }
  .grid-container .col-start-sm-12 {
    grid-column-start: 12;
  }
  .grid-container .col-end-sm-13 {
    grid-column-end: 13;
  }
}
@media (min-width: 375px) {
  .grid-container .col-sm-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-sm-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-sm-2 {
    grid-column-end: 2;
  }
  .grid-container .col-sm-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-sm-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-sm-3 {
    grid-column-end: 3;
  }
  .grid-container .col-sm-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-sm-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-sm-4 {
    grid-column-end: 4;
  }
  .grid-container .col-sm-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-sm-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-sm-5 {
    grid-column-end: 5;
  }
  .grid-container .col-sm-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-sm-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-sm-6 {
    grid-column-end: 6;
  }
  .grid-container .col-sm-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-sm-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-sm-7 {
    grid-column-end: 7;
  }
  .grid-container .col-sm-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-sm-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-sm-8 {
    grid-column-end: 8;
  }
  .grid-container .col-sm-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-sm-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-sm-9 {
    grid-column-end: 9;
  }
  .grid-container .col-sm-9 {
    grid-column: span 9;
  }
  .grid-container .col-start-sm-9 {
    grid-column-start: 9;
  }
  .grid-container .col-end-sm-10 {
    grid-column-end: 10;
  }
  .grid-container .col-sm-10 {
    grid-column: span 10;
  }
  .grid-container .col-start-sm-10 {
    grid-column-start: 10;
  }
  .grid-container .col-end-sm-11 {
    grid-column-end: 11;
  }
  .grid-container .col-sm-11 {
    grid-column: span 11;
  }
  .grid-container .col-start-sm-11 {
    grid-column-start: 11;
  }
  .grid-container .col-end-sm-12 {
    grid-column-end: 12;
  }
  .grid-container .col-sm-12 {
    grid-column: span 12;
  }
  .grid-container .col-start-sm-12 {
    grid-column-start: 12;
  }
  .grid-container .col-end-sm-13 {
    grid-column-end: 13;
  }
}
@media (min-width: 768px) {
  .grid-container .col-md-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-md-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-md-2 {
    grid-column-end: 2;
  }
  .grid-container .col-md-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-md-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-md-3 {
    grid-column-end: 3;
  }
  .grid-container .col-md-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-md-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-md-4 {
    grid-column-end: 4;
  }
  .grid-container .col-md-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-md-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-md-5 {
    grid-column-end: 5;
  }
}
@media (min-width: 768px) {
  .grid-container .col-md-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-md-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-md-2 {
    grid-column-end: 2;
  }
  .grid-container .col-md-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-md-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-md-3 {
    grid-column-end: 3;
  }
  .grid-container .col-md-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-md-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-md-4 {
    grid-column-end: 4;
  }
  .grid-container .col-md-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-md-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-md-5 {
    grid-column-end: 5;
  }
}
@media (min-width: 768px) {
  .grid-container .col-md-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-md-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-md-2 {
    grid-column-end: 2;
  }
  .grid-container .col-md-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-md-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-md-3 {
    grid-column-end: 3;
  }
  .grid-container .col-md-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-md-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-md-4 {
    grid-column-end: 4;
  }
  .grid-container .col-md-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-md-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-md-5 {
    grid-column-end: 5;
  }
  .grid-container .col-md-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-md-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-md-6 {
    grid-column-end: 6;
  }
  .grid-container .col-md-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-md-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-md-7 {
    grid-column-end: 7;
  }
  .grid-container .col-md-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-md-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-md-8 {
    grid-column-end: 8;
  }
  .grid-container .col-md-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-md-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-md-9 {
    grid-column-end: 9;
  }
}
@media (min-width: 768px) {
  .grid-container .col-md-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-md-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-md-2 {
    grid-column-end: 2;
  }
  .grid-container .col-md-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-md-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-md-3 {
    grid-column-end: 3;
  }
  .grid-container .col-md-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-md-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-md-4 {
    grid-column-end: 4;
  }
  .grid-container .col-md-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-md-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-md-5 {
    grid-column-end: 5;
  }
  .grid-container .col-md-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-md-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-md-6 {
    grid-column-end: 6;
  }
  .grid-container .col-md-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-md-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-md-7 {
    grid-column-end: 7;
  }
  .grid-container .col-md-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-md-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-md-8 {
    grid-column-end: 8;
  }
  .grid-container .col-md-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-md-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-md-9 {
    grid-column-end: 9;
  }
  .grid-container .col-md-9 {
    grid-column: span 9;
  }
  .grid-container .col-start-md-9 {
    grid-column-start: 9;
  }
  .grid-container .col-end-md-10 {
    grid-column-end: 10;
  }
  .grid-container .col-md-10 {
    grid-column: span 10;
  }
  .grid-container .col-start-md-10 {
    grid-column-start: 10;
  }
  .grid-container .col-end-md-11 {
    grid-column-end: 11;
  }
  .grid-container .col-md-11 {
    grid-column: span 11;
  }
  .grid-container .col-start-md-11 {
    grid-column-start: 11;
  }
  .grid-container .col-end-md-12 {
    grid-column-end: 12;
  }
  .grid-container .col-md-12 {
    grid-column: span 12;
  }
  .grid-container .col-start-md-12 {
    grid-column-start: 12;
  }
  .grid-container .col-end-md-13 {
    grid-column-end: 13;
  }
}
@media (min-width: 768px) {
  .grid-container .col-md-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-md-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-md-2 {
    grid-column-end: 2;
  }
  .grid-container .col-md-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-md-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-md-3 {
    grid-column-end: 3;
  }
  .grid-container .col-md-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-md-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-md-4 {
    grid-column-end: 4;
  }
  .grid-container .col-md-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-md-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-md-5 {
    grid-column-end: 5;
  }
  .grid-container .col-md-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-md-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-md-6 {
    grid-column-end: 6;
  }
  .grid-container .col-md-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-md-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-md-7 {
    grid-column-end: 7;
  }
  .grid-container .col-md-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-md-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-md-8 {
    grid-column-end: 8;
  }
  .grid-container .col-md-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-md-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-md-9 {
    grid-column-end: 9;
  }
  .grid-container .col-md-9 {
    grid-column: span 9;
  }
  .grid-container .col-start-md-9 {
    grid-column-start: 9;
  }
  .grid-container .col-end-md-10 {
    grid-column-end: 10;
  }
  .grid-container .col-md-10 {
    grid-column: span 10;
  }
  .grid-container .col-start-md-10 {
    grid-column-start: 10;
  }
  .grid-container .col-end-md-11 {
    grid-column-end: 11;
  }
  .grid-container .col-md-11 {
    grid-column: span 11;
  }
  .grid-container .col-start-md-11 {
    grid-column-start: 11;
  }
  .grid-container .col-end-md-12 {
    grid-column-end: 12;
  }
  .grid-container .col-md-12 {
    grid-column: span 12;
  }
  .grid-container .col-start-md-12 {
    grid-column-start: 12;
  }
  .grid-container .col-end-md-13 {
    grid-column-end: 13;
  }
}
@media (min-width: 1024px) {
  .grid-container .col-lg-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-lg-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-lg-2 {
    grid-column-end: 2;
  }
  .grid-container .col-lg-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-lg-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-lg-3 {
    grid-column-end: 3;
  }
  .grid-container .col-lg-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-lg-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-lg-4 {
    grid-column-end: 4;
  }
  .grid-container .col-lg-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-lg-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-lg-5 {
    grid-column-end: 5;
  }
}
@media (min-width: 1024px) {
  .grid-container .col-lg-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-lg-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-lg-2 {
    grid-column-end: 2;
  }
  .grid-container .col-lg-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-lg-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-lg-3 {
    grid-column-end: 3;
  }
  .grid-container .col-lg-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-lg-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-lg-4 {
    grid-column-end: 4;
  }
  .grid-container .col-lg-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-lg-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-lg-5 {
    grid-column-end: 5;
  }
}
@media (min-width: 1024px) {
  .grid-container .col-lg-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-lg-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-lg-2 {
    grid-column-end: 2;
  }
  .grid-container .col-lg-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-lg-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-lg-3 {
    grid-column-end: 3;
  }
  .grid-container .col-lg-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-lg-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-lg-4 {
    grid-column-end: 4;
  }
  .grid-container .col-lg-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-lg-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-lg-5 {
    grid-column-end: 5;
  }
  .grid-container .col-lg-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-lg-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-lg-6 {
    grid-column-end: 6;
  }
  .grid-container .col-lg-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-lg-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-lg-7 {
    grid-column-end: 7;
  }
  .grid-container .col-lg-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-lg-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-lg-8 {
    grid-column-end: 8;
  }
  .grid-container .col-lg-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-lg-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-lg-9 {
    grid-column-end: 9;
  }
}
@media (min-width: 1024px) {
  .grid-container .col-lg-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-lg-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-lg-2 {
    grid-column-end: 2;
  }
  .grid-container .col-lg-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-lg-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-lg-3 {
    grid-column-end: 3;
  }
  .grid-container .col-lg-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-lg-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-lg-4 {
    grid-column-end: 4;
  }
  .grid-container .col-lg-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-lg-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-lg-5 {
    grid-column-end: 5;
  }
  .grid-container .col-lg-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-lg-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-lg-6 {
    grid-column-end: 6;
  }
  .grid-container .col-lg-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-lg-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-lg-7 {
    grid-column-end: 7;
  }
  .grid-container .col-lg-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-lg-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-lg-8 {
    grid-column-end: 8;
  }
  .grid-container .col-lg-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-lg-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-lg-9 {
    grid-column-end: 9;
  }
  .grid-container .col-lg-9 {
    grid-column: span 9;
  }
  .grid-container .col-start-lg-9 {
    grid-column-start: 9;
  }
  .grid-container .col-end-lg-10 {
    grid-column-end: 10;
  }
  .grid-container .col-lg-10 {
    grid-column: span 10;
  }
  .grid-container .col-start-lg-10 {
    grid-column-start: 10;
  }
  .grid-container .col-end-lg-11 {
    grid-column-end: 11;
  }
  .grid-container .col-lg-11 {
    grid-column: span 11;
  }
  .grid-container .col-start-lg-11 {
    grid-column-start: 11;
  }
  .grid-container .col-end-lg-12 {
    grid-column-end: 12;
  }
  .grid-container .col-lg-12 {
    grid-column: span 12;
  }
  .grid-container .col-start-lg-12 {
    grid-column-start: 12;
  }
  .grid-container .col-end-lg-13 {
    grid-column-end: 13;
  }
}
@media (min-width: 1024px) {
  .grid-container .col-lg-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-lg-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-lg-2 {
    grid-column-end: 2;
  }
  .grid-container .col-lg-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-lg-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-lg-3 {
    grid-column-end: 3;
  }
  .grid-container .col-lg-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-lg-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-lg-4 {
    grid-column-end: 4;
  }
  .grid-container .col-lg-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-lg-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-lg-5 {
    grid-column-end: 5;
  }
  .grid-container .col-lg-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-lg-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-lg-6 {
    grid-column-end: 6;
  }
  .grid-container .col-lg-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-lg-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-lg-7 {
    grid-column-end: 7;
  }
  .grid-container .col-lg-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-lg-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-lg-8 {
    grid-column-end: 8;
  }
  .grid-container .col-lg-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-lg-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-lg-9 {
    grid-column-end: 9;
  }
  .grid-container .col-lg-9 {
    grid-column: span 9;
  }
  .grid-container .col-start-lg-9 {
    grid-column-start: 9;
  }
  .grid-container .col-end-lg-10 {
    grid-column-end: 10;
  }
  .grid-container .col-lg-10 {
    grid-column: span 10;
  }
  .grid-container .col-start-lg-10 {
    grid-column-start: 10;
  }
  .grid-container .col-end-lg-11 {
    grid-column-end: 11;
  }
  .grid-container .col-lg-11 {
    grid-column: span 11;
  }
  .grid-container .col-start-lg-11 {
    grid-column-start: 11;
  }
  .grid-container .col-end-lg-12 {
    grid-column-end: 12;
  }
  .grid-container .col-lg-12 {
    grid-column: span 12;
  }
  .grid-container .col-start-lg-12 {
    grid-column-start: 12;
  }
  .grid-container .col-end-lg-13 {
    grid-column-end: 13;
  }
}
@media (min-width: 1140px) {
  .grid-container .col-xl-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-xl-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-xl-2 {
    grid-column-end: 2;
  }
  .grid-container .col-xl-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-xl-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-xl-3 {
    grid-column-end: 3;
  }
  .grid-container .col-xl-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-xl-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-xl-4 {
    grid-column-end: 4;
  }
  .grid-container .col-xl-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-xl-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-xl-5 {
    grid-column-end: 5;
  }
}
@media (min-width: 1140px) {
  .grid-container .col-xl-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-xl-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-xl-2 {
    grid-column-end: 2;
  }
  .grid-container .col-xl-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-xl-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-xl-3 {
    grid-column-end: 3;
  }
  .grid-container .col-xl-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-xl-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-xl-4 {
    grid-column-end: 4;
  }
  .grid-container .col-xl-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-xl-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-xl-5 {
    grid-column-end: 5;
  }
}
@media (min-width: 1140px) {
  .grid-container .col-xl-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-xl-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-xl-2 {
    grid-column-end: 2;
  }
  .grid-container .col-xl-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-xl-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-xl-3 {
    grid-column-end: 3;
  }
  .grid-container .col-xl-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-xl-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-xl-4 {
    grid-column-end: 4;
  }
  .grid-container .col-xl-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-xl-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-xl-5 {
    grid-column-end: 5;
  }
  .grid-container .col-xl-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-xl-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-xl-6 {
    grid-column-end: 6;
  }
  .grid-container .col-xl-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-xl-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-xl-7 {
    grid-column-end: 7;
  }
  .grid-container .col-xl-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-xl-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-xl-8 {
    grid-column-end: 8;
  }
  .grid-container .col-xl-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-xl-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-xl-9 {
    grid-column-end: 9;
  }
}
@media (min-width: 1140px) {
  .grid-container .col-xl-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-xl-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-xl-2 {
    grid-column-end: 2;
  }
  .grid-container .col-xl-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-xl-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-xl-3 {
    grid-column-end: 3;
  }
  .grid-container .col-xl-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-xl-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-xl-4 {
    grid-column-end: 4;
  }
  .grid-container .col-xl-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-xl-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-xl-5 {
    grid-column-end: 5;
  }
  .grid-container .col-xl-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-xl-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-xl-6 {
    grid-column-end: 6;
  }
  .grid-container .col-xl-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-xl-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-xl-7 {
    grid-column-end: 7;
  }
  .grid-container .col-xl-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-xl-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-xl-8 {
    grid-column-end: 8;
  }
  .grid-container .col-xl-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-xl-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-xl-9 {
    grid-column-end: 9;
  }
  .grid-container .col-xl-9 {
    grid-column: span 9;
  }
  .grid-container .col-start-xl-9 {
    grid-column-start: 9;
  }
  .grid-container .col-end-xl-10 {
    grid-column-end: 10;
  }
  .grid-container .col-xl-10 {
    grid-column: span 10;
  }
  .grid-container .col-start-xl-10 {
    grid-column-start: 10;
  }
  .grid-container .col-end-xl-11 {
    grid-column-end: 11;
  }
  .grid-container .col-xl-11 {
    grid-column: span 11;
  }
  .grid-container .col-start-xl-11 {
    grid-column-start: 11;
  }
  .grid-container .col-end-xl-12 {
    grid-column-end: 12;
  }
  .grid-container .col-xl-12 {
    grid-column: span 12;
  }
  .grid-container .col-start-xl-12 {
    grid-column-start: 12;
  }
  .grid-container .col-end-xl-13 {
    grid-column-end: 13;
  }
}
@media (min-width: 1140px) {
  .grid-container .col-xl-1 {
    grid-column: span 1;
  }
  .grid-container .col-start-xl-1 {
    grid-column-start: 1;
  }
  .grid-container .col-end-xl-2 {
    grid-column-end: 2;
  }
  .grid-container .col-xl-2 {
    grid-column: span 2;
  }
  .grid-container .col-start-xl-2 {
    grid-column-start: 2;
  }
  .grid-container .col-end-xl-3 {
    grid-column-end: 3;
  }
  .grid-container .col-xl-3 {
    grid-column: span 3;
  }
  .grid-container .col-start-xl-3 {
    grid-column-start: 3;
  }
  .grid-container .col-end-xl-4 {
    grid-column-end: 4;
  }
  .grid-container .col-xl-4 {
    grid-column: span 4;
  }
  .grid-container .col-start-xl-4 {
    grid-column-start: 4;
  }
  .grid-container .col-end-xl-5 {
    grid-column-end: 5;
  }
  .grid-container .col-xl-5 {
    grid-column: span 5;
  }
  .grid-container .col-start-xl-5 {
    grid-column-start: 5;
  }
  .grid-container .col-end-xl-6 {
    grid-column-end: 6;
  }
  .grid-container .col-xl-6 {
    grid-column: span 6;
  }
  .grid-container .col-start-xl-6 {
    grid-column-start: 6;
  }
  .grid-container .col-end-xl-7 {
    grid-column-end: 7;
  }
  .grid-container .col-xl-7 {
    grid-column: span 7;
  }
  .grid-container .col-start-xl-7 {
    grid-column-start: 7;
  }
  .grid-container .col-end-xl-8 {
    grid-column-end: 8;
  }
  .grid-container .col-xl-8 {
    grid-column: span 8;
  }
  .grid-container .col-start-xl-8 {
    grid-column-start: 8;
  }
  .grid-container .col-end-xl-9 {
    grid-column-end: 9;
  }
  .grid-container .col-xl-9 {
    grid-column: span 9;
  }
  .grid-container .col-start-xl-9 {
    grid-column-start: 9;
  }
  .grid-container .col-end-xl-10 {
    grid-column-end: 10;
  }
  .grid-container .col-xl-10 {
    grid-column: span 10;
  }
  .grid-container .col-start-xl-10 {
    grid-column-start: 10;
  }
  .grid-container .col-end-xl-11 {
    grid-column-end: 11;
  }
  .grid-container .col-xl-11 {
    grid-column: span 11;
  }
  .grid-container .col-start-xl-11 {
    grid-column-start: 11;
  }
  .grid-container .col-end-xl-12 {
    grid-column-end: 12;
  }
  .grid-container .col-xl-12 {
    grid-column: span 12;
  }
  .grid-container .col-start-xl-12 {
    grid-column-start: 12;
  }
  .grid-container .col-end-xl-13 {
    grid-column-end: 13;
  }
}

.grid-auto-xs,
.grid-auto-sm,
.grid-auto-md,
.grid-auto-lg,
.grid-auto-xl {
  display: grid;
  grid-gap: var(--grid-gap, 0);
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
}

.grid-auto-xs {
  --col-min-width: 8rem;
}

.grid-auto-sm {
  --col-min-width: 10rem;
}

.grid-auto-md {
  --col-min-width: 15rem;
}

.grid-auto-lg {
  --col-min-width: 20rem;
}

.grid-auto-xl {
  --col-min-width: 25rem;
}

.grid-gap-xs {
  --grid-gap: var(--space-xs, 0.5rem);
}

.grid-gap-sm {
  --grid-gap: var(--space-sm, 0.75rem);
}

.grid-gap-md {
  --grid-gap: var(--space-md, 1.25rem);
}

.grid-gap-lg {
  --grid-gap: var(--space-lg, 2rem);
}

.grid-gap-xl {
  --grid-gap: var(--space-xl, 3.25rem);
}

.exemple .card,
.exemple .card {
  min-height: 20rem;
}

.exemple h2 {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
