// Based on Sass Guidelines
@use "abstracts" as *;
@use "base";
@use "components" with (
  $card-background-color: black
);
@use "layout";
// @use "utilities"

.exemple .card,
.exemple .card {
  min-height: 20rem;
}

.exemple h2 {
  color: $white;
}
